{{#each anime_bar}}
<div class="video">
      <iframe width="420" height="345" src="{{this.trailer}}">
      </iframe>
      <div class="desc">
        <h2>{{this.title}}</h2>
        <p>{{this.overview}}</p>
      </div>
</div>
{{/each}}
