  <header id="js-header">
          <img id="logo" width="250"src="http://blog.alltheanime.com/wp-content/themes/Squirrel/assets/alltheanime/logo.png" alt="Anime Logo">
          <a href="/" id="home">Home</a>
  </header>
